{% load static %}
<nav class="navigation d-flex flex-column text-center navbar navbar-light hide-scrollbar">
    <!-- Brand -->
   <a class="d-none d-xl-block mb-6" href="index.html" title="Messenger">
        <img src="{% static 'assets/img/favicon/favicon.jpg' %}" alt="Messenger" width="46px" height="46px"/>
    </a>

    <!-- Nav items -->
    <ul class="d-flex nav navbar-nav flex-row flex-xl-column flex-grow-1 justify-content-between justify-content-xl-center align-items-center w-100 py-4 py-lg-2 px-lg-3" role="tablist">
     <!-- Invisible item to center nav vertically -->
     <li class="nav-item d-none d-xl-block invisible flex-xl-grow-1">
      <a class="nav-link py-0 py-lg-8" href="#" title="">
       <div class="icon icon-xl">
        <svg class="feather feather-x" fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
         <line x1="18" x2="6" y1="6" y2="18">
         </line>
         <line x1="6" x2="18" y1="6" y2="18">
         </line>
        </svg>
       </div>
      </a>
     </li>
     <!-- Switcher -->
     <li class="nav-item d-xl-block">
      <a class="switcher-btn nav-link py-0 py-lg-8" href="#!" title="Themes">
       <div class="switcher-icon switcher-icon-dark icon icon-xl d-none" data-theme-mode="dark">
        <svg class="feather feather-moon" fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
         <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z">
         </path>
        </svg>
       </div>
       <div class="switcher-icon switcher-icon-light icon icon-xl d-none" data-theme-mode="light">
        <svg class="feather feather-sun" fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
         <circle cx="12" cy="12" r="5">
         </circle>
         <line x1="12" x2="12" y1="1" y2="3">
         </line>
         <line x1="12" x2="12" y1="21" y2="23">
         </line>
         <line x1="4.22" x2="5.64" y1="4.22" y2="5.64">
         </line>
         <line x1="18.36" x2="19.78" y1="18.36" y2="19.78">
         </line>
         <line x1="1" x2="3" y1="12" y2="12">
         </line>
         <line x1="21" x2="23" y1="12" y2="12">
         </line>
         <line x1="4.22" x2="5.64" y1="19.78" y2="18.36">
         </line>
         <line x1="18.36" x2="19.78" y1="5.64" y2="4.22">
         </line>
        </svg>
       </div>
      </a>
     </li>
     <!-- Friends -->
     <li class="nav-item">
      <a class="nav-link py-0 py-lg-8" data-bs-toggle="tab" href="#tab-content-friends" id="tab-friends" role="tab" title="Friends">
       <div class="icon icon-xl">
        <svg class="feather feather-users" fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
         <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2">
         </path>
         <circle cx="9" cy="7" r="4">
         </circle>
         <path d="M23 21v-2a4 4 0 0 0-3-3.87">
         </path>
         <path d="M16 3.13a4 4 0 0 1 0 7.75">
         </path>
        </svg>
       </div>
      </a>
     </li>
     <!-- Chats -->
     <li class="nav-item">
      <a class="nav-link active py-0 py-lg-8" data-bs-toggle="tab" href="#tab-content-chats" id="tab-chats" role="tab" title="Chats">
       <div class="icon icon-xl icon-badged">
        <svg class="feather feather-message-square" fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
         <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z">
         </path>
        </svg>
        <div class="badge badge-circle bg-primary">
         <span>
          4
         </span>
        </div>
       </div>
      </a>
     </li>
     <!-- Notification -->
     <li class="nav-item">
      <a class="nav-link py-0 py-lg-8" data-bs-toggle="tab" href="#tab-content-notifications" id="tab-notifications" role="tab" title="Notifications">
       <div class="icon icon-xl">
        <svg class="feather feather-bell" fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
         <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9">
         </path>
         <path d="M13.73 21a2 2 0 0 1-3.46 0">
         </path>
        </svg>
       </div>
      </a>
     </li>
     <!-- Settings -->
     <li class="nav-item">
      <a class="nav-link py-0 py-lg-8" data-bs-toggle="tab" href="#tab-content-settings" id="tab-settings" role="tab" title="Settings">
       <div class="icon icon-xl">
        <svg class="feather feather-settings" fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
         <circle cx="12" cy="12" r="3">
         </circle>
         <path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z">
         </path>
        </svg>
       </div>
      </a>
     </li>
     <!-- Profile -->
     <li class="nav-item d-none d-xl-block">
      <a class="nav-link p-0 mt-lg-2" data-bs-target="#modal-profile" data-bs-toggle="modal" href="#">
       <div class="avatar avatar-online mx-auto">
        {% if request.user.is_authenticated and request.user.photo_url %}
         	<img alt="#" class="avatar-img" src="{{request.user.photo_url.url}}"/>
         {% else %}
             <img alt="#" class="avatar-img" src="https://static.vecteezy.com/system/resources/previews/003/715/527/non_2x/picture-profile-icon-male-icon-human-or-people-sign-and-symbol-vector.jpg"/>
         {% endif %}
       </div>
      </a>
     </li>
    </ul>
   </nav>